.outercard{
    background-color: #fff;
    height: calc(100vh - 150px);
    width: calc(100vw - 100px);
    border: 1px solid #d8d8d8;
    border-radius: 5px;
}
hr{
    border: 1px solid #d8d8d8;
}

.header{
    font-size: 16px;
    font-weight: 400;
}
