<div class="col-md-12"> 
<div class="empCard">
    <div  class="value p-2">
        <span class="empname">{{data.employeeName}} </span>
    </div>
    <div class="imagecontiner p-2">
        <img src={{data.empImage}} class="image">
    </div >
    <div  class=" flex p-3">
        <span class="p-1" > Employee ID</span><span class="bodyvalue p-1">{{data.employeeId}}</span>
    </div>
    <div class="employeeDetail">
    <div  class="head p-1">
        <span >D.O.B</span> <span class="bodyvalue">{{data.Dob}}</span>
    </div>
    <div  class="head p-1">
        <span>Gender</span><span class="bodyvalue">{{data.gender}}</span>
    </div>
    </div>

    <div class="p-3 " style="display:flex;">
        <button class="button"> View</button>
        <button class="button"> Edit</button>
        <button class="button"> Delete</button>
    </div>
    

</div>
</div>